<div class='container'>
  <%= link_to vacancies_path, :class => "icon-all my-5 text-decoration-none" do %>
    <i class="fas fa-angle-double-left"></i> Back
  <% end %>
  <h1 class='my-5'><%= @vacancy.title %></h1>

  <table class="table">
    <thead class='table-active th-text-color'>
      <tr>
        <th>Name</th>
        <th class='text-center'>Email</th>
        <th class='text-center'>Sent in</th>
        <th class='text-center'>Download CV</th>
      </tr>
    </thead>

    <tbody class='text-secondary'>
      <% @applicants.each do |applicant| %>
        <tr>
          <td class="align-middle"><%= applicant.name %></td>
          <td class="align-middle text-center"><%= applicant.email %></td>
          <td class="align-middle text-center"><%= applicant.created_at.strftime('%d/%m/%Y') %></td>
          <td class="align-middle text-center">
            <a href='<%= rails_blob_path(applicant.curriculum) if applicant.curriculum.attached? %>' target="_blank" class="text-primary text-decoration-none" aria-label="Left Align">
              <i class="fas fa-file-download fa-fw"></i>
            </a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex">
    <div class="mx-auto mt-5">
      <%= paginate @applicants, outer_window: 3, left: 1, right: 3 %>
    </div>
  </div>
</div>
