<div class="row">
  <div class="col-md-6">
    <%= form_with(model: vacancy) do |form| %>
      <% if vacancy.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(vacancy.errors.count, "error") %> prohibited this vacancy from being saved:</h2>

          <ul>
            <% vacancy.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="mb-4">
        <%= form.label 'Title', class: 'form-label' %>

        <%= form.text_field :title, autofocus: true, class: 'form-control' %>
      </div>
      <div class="mb-4">
        <%= form.label 'Location', class: 'form-label' %>

        <%= form.text_field :location, class: 'form-control' %>
      </div>
      <div class="mb-4">
        <%= form.label 'Description', class: 'form-label' %>

        <%= form.text_area :description, class: 'form-control' %>
      </div>
      <div class="mb-4">
        <%= form.label 'Requirements', class: 'form-label' %>

        <%= form.text_area :requirements, class: 'form-control' %>
      </div>
      <div class="mb-4">
        <%= form.label 'Salary', class: 'form-label' %>

        <%= form.text_field :salary, class: 'form-control' %>
      </div>
      <div class="mb-4">
        <%= form.check_box :available, class: 'form-check-input', id: 'availableCheck' %>
        <%= form.label 'Available', class: "form-check-label", for: "availableCheck" %>

      </div>
      <div class="mb-4 mt-5">
        <%= form.submit "Save", class: "btn btn-primary btn-lg" %>
      </div>
    <% end %>
  </div>
</div>
