<div class="container mb-5">
  <%= simple_form_for :search, url: vacancies_path, method: "GET", html: { class: 'form-inline mt-5 d-flex justify-content-end' } do |f| %>
    <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a vacancy" %> 
    <%= button_tag type: 'submit', class: "btn btn-primary", id: "register-button" do %> 
      <i class="fas fa-search"></i>
    <% end %>
  <% end %>

  <h1 class="m-5">Vacancies</h1>

  <table class="table">
    <thead class="table-active">
      <tr>
        <th>Vacancy</th>
        <th>Creation date</th>
        <th>Applicants</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody class="text-secondary">
      <% @vacancies.each do |vacancy| %>
        <tr>
          <td class="align-middle"><%= vacancy.title %></td>
          <td class="align-middle"><%= vacancy.created_at.strftime('%d/%m/%Y') %></td>
          <td class="align-middle"><%= vacancy.applicants.count %></td>
          <td class="align-middle">
            <%= link_to edit_vacancy_path(vacancy), class: "text-primary text-decoration-none mr-4" do %>
              <i class="far fa-edit"></i> Edit
            <% end %>
            <a href="/vacancies/<%= vacancy.id %>/applicants" class="text-primary text-decoration-none">
              <i class="far fa-user"></i> Applicants
            </a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex">
    <div class="mx-auto mt-5">
      <%= paginate @vacancies, outer_window: 3, left: 1, right: 3  %>   
    </div>
  </div>
  <br>

  <%= link_to 'New Vacancy', new_vacancy_path, class: 'btn btn-primary' %>
</div>
