<div class="container">

  <h1 class="m-5">Vacancies</h1>

  <table class="table">
    <thead class="table-active th-text-color">
      <tr>
        <th>Anúncio</th>
        <th>Criação</th>
        <th>Candidatos</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody class="text-secondary">
      <% @vacancies.each do |vacancy| %>
        <tr>
          <td class="align-middle"><%= vacancy.title %></td>
          <td class="align-middle"><%= vacancy.created_at.strftime('%d/%m/%Y') %></td>
          <td class="align-middle"><%= vacancy.applicants.count %></td>
          <td class="align-middle">
            <%= link_to edit_vacancy_path(vacancy), class: "text-primary text-decoration-none mr-4" do %>
              <i class="far fa-edit"></i>Editar
            <% end %>
            <a href="/vacancies/<%= vacancy.id %>/applicants" class="text-primary text-decoration-none">
              <i class="far fa-user"></i>Candidatos
            </a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex">
    <div class="mx-auto mt-5">
      <%= paginate @vacancies, outer_window: 3, left: 1, right: 3  %>   
    </div>
  </div>
  <br>

  <%= link_to 'New Vacancy', new_vacancy_path, class: 'btn btn-primary' %>
</div>
